<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
{% include head.html %}
</head>
<body>
<a class="skip-link" href="#main">Skip to main content</a>
{% include cmdbar.html %}
{% include breadcrumbs.html %}
{% include jumpnav.html %}
<div class="layout">
  {% include section-rail.html %}
  <main class="main" id="main" tabindex="-1">
    {{ content }}
  </main>
</div>
{% include footer.html %}
<div id="toast" role="status"></div>
<script src="/script.js?v={{ site.time | date: '%s' }}" defer></script>
</body>
</html>
